bs4
wget
textblob
regex
pip
git+https://github.com/HwaiTengTeoh/preprocess_text.git
git+https://github.com/HwaiTengTeoh/language_tool_python.git
contractions
pyemd
numpy
pandas
spacy==3.2.3
spacytextblob==4.0.0
en-core-web-sm==3.2.0
nltk
emot
fuzzywuzzy
streamlit==1.16.0
streamlit-option-menu
pandas
torch
transformers
accelerate
Pillow
altair==4.0
