bs4
wget
textblob
regex
pip
git+https://github.com/HwaiTengTeoh/preprocess_text.git
git+https://github.com/HwaiTengTeoh/language_tool_python.git
contractions
pyemd
spacy==3.4.0
spacytextblob==4.0.0
https://huggingface.co/spacy/en_core_web_sm/resolve/c0f73349a5d26a58879563c0271789834fcbf878/en_core_web_sm-any-py3-none-any.whl
numpy==1.26.4
pandas==1.3.4
nltk
emot
fuzzywuzzy
streamlit==1.16.0
streamlit-option-menu
torch
thinc
transformers
accelerate
Pillow
altair==4.0
